.posts {
  margin: 2rem 0;

  h2 {
    color: var(--white);
    font-size: 2rem;
    margin-bottom: 0.5rem;
    transition: all 0.2s ease;
  }

  a {
    display: block;

    & + a {
      margin-top: 3rem;
    }
  }

  a:hover h2 {
    color: var(--pink-500);
  }

  p {
    color: var(--gray-100);
    margin-bottom: 1.5rem;
  }

  span {
    display: flex;
    color: var(--gray-100);

    time {
      margin-right: 1.5rem;
    }
    
    i {
      margin-right: 0.5rem;
    }
  }
}

.loadMore {
  color: var(--pink-500);
  font-weight: 600;
  font-size: 1.125rem;
  cursor: pointer;
}